.chat {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 10;

    padding: 1em;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    background-color: rgba(198, 212, 237, 0.7);

    .chat:focus{
        background-color: white;
    }

    svg {
        width: inherit;
        height: inherit;
        color: var(--backgroundBlue);
        cursor: pointer;
    }

    .chatbox {
        background-color: white;
        padding: 1em;
        width: 500%;
        height: 670%;
        border-radius: 10px;

        transform: translate(-95%, -95%); 
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        visibility: collapse;

        background-color: var(--lightGray);

        h1{
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
            text-align: center;
            font-size: 25px;
        }

        .chat-messages {
            overflow-y: scroll;
            padding-right: 0.5em;
            white-space: pre-wrap;
            letter-spacing: 0.1px;
            height: 100%;
            overflow-x: hidden;
            font-size: 18px;
            letter-spacing: 1px;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

            .chat-bot {
                width: calc(100% - 2em);
                margin-right: 1.2em;
                text-align: left;
                background-color: var(--backgroundBlue);
                padding: 10px;
                margin-bottom: 5px;
                margin-top: 5px;
                border-radius: 10px;
                color: var(--backgroundLightBlue);
                position: relative;
                left: 6px;
            }
    
            .chat-user {
                width: calc(100% - 2em);
                margin-top: 5px;
                margin-bottom: 5px;
                margin-left: 1.5em;
                text-align: right;
                background-color: var(--backgroundLightBlue);
                padding: 10px;
                border-radius: 10px;
                color: var(--backgroundBlue);
            }
        }
        .user-input-container{
            display: flex;
            justify-content: space-around;
            margin-top: 5px;

            #send-button{
                border-radius: 5px;
                border: 1px solid white;
                background-color: var(--backgroundBlue);
                color: var(--backgroundLightBlue);
                font-weight: 700;
                letter-spacing: 1px;
                cursor: pointer;
            }

            #user-input-text{
                padding: 5px;
                border: transparent;
                border-radius: 5px;
                background-color: var(--backgroundLightBlue);
                color: var(--backgroundBlue);
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
                width: 100%;

                &:focus{
                    outline: none;
                }
            }
        }
    }

    .open {
        visibility: visible;
    }
}