@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

.movie-info-container{
    display: flex;
    height: 70vh;
    justify-content: center;
    padding-top: 10px;
    position: relative;
    z-index: 10;
    color: #C6D4ED;
    font-family: 'League Gothic', sans-serif;

    h2{
        font-size: 75px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        letter-spacing: 2px;
    }

    .movie-info-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
        justify-content: center;

        img{
            width: auto;
            height: 100%;
            max-width: 630px;
            margin-top: 25px;
            box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }

    .movie-info-left{
        width: 45%;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: flex-start;

        h3{
            display: flex;
            justify-content: flex-start;
            font-size: 1.5em;
            margin-top: 20px;
        }

        p{
            font-size: 14px;
            font-weight:lighter;
            padding-top: 16px;
            line-height: 1.4;
            padding-bottom: 16px;
            padding-right: 64px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        }
    }
}

.event-create-button{
    border: 0px;
    height: 40px;
    display: inline-block;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    background-color: var(--backgroundLightBlue);
    -webkit-font-smoothing: antialiased;
    padding: 0px 18px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    text-align: center;
    color: var(--backgroundBlue);
    width: 180px;
}


.comments{
    z-index: 5;
    position: relative;
    color: #C6D4ED;
    font-family: 'League Gothic', sans-serif;
    
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    height: 30vh;
    margin-top: 30px;
}

.comment {
    // border: 2px solid var(--backgroundLightBlue);
    padding: 8px;
    margin-left: 32px;
    // margin-right: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 16px;
    background-color: rgba(198, 212, 237, 0.18);;
    .children {
        margin-left: 1em;
    }
}

.comment-body-box{
    display: flex;
    height: 30px;
    text-align: center;
    padding: 8px;
    margin-bottom: 8px;
    margin-top: 8px;
    box-sizing: border-box;
    
    .comment-username{
        
        font-size: 18px;
        margin-right: 24px;
        font-weight: 600;
        
    }

    .comment-body{
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

}

.events-near {
    a {
        text-decoration: none;
        color: inherit;
    }
}

.create-comment {
    width: 100%;
    margin-right: 16px;
    
    .comment-body {
        width: calc(100% - 64px);
        height: 30px;
        padding: 8px;
        margin-bottom: 8px;
        margin-top: 8px;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #C6D4ED;
    }

    .event-create-button:nth-child(2) {
        margin-left: 32px;
    }

    .comment-body::placeholder {
        color: rgba(198, 212, 237, 0.3);
    }

    .cancel-comment {
        height: 30px;
        color: #C6D4ED;
        background-color: rgba(255, 255, 255, 0.2);
    }
}