@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
.event-title{
    color: #C5D4Ed;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    font-size: 60px;
    margin-bottom: 20px;
    z-index: 5;
    position: relative;
}

.event-show-page-container {

    color: #C6D4ED;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    position: relative;
    z-index: 5;
    
    li{
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 16px;
        margin:4px 0px;
    }



    a{
        cursor: pointer;
        text-decoration: underline;
        color: var(--backgroundLightBlue);
    }

    .event-show-page-left{
        margin-right: 30px;

        h3{
            font-weight: 800;
            font-size: 24px;
            font-family: 'PT Sans Narrow', sans-serif;
        }

        p{
            font-family: 'PT Sans Narrow', sans-serif;
            font-size: 16px;
            margin:4px 0px;
        }

        .event-show-page-movie-poster {    

            .event-title-movie-title{
                font-size: 36px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            img {
                border-radius: 16px;
                width: 20rem;
                box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
        }

        .event-show-page-description{
            width: 500px;

            *{
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }

    .amenities-box{
        display: flex;
        
    }

    .amenities-list{

        box-sizing: border-box;
        background-color: var(--backgroundBlue);
        border-radius: 12px;
        border: 1px solid white;
        margin-left: 4px;
        margin-right: 4px;
        display: inline-block;
        border-style: solid;
        -webkit-font-smoothing: antialiased;
        vertical-align: middle;
        text-align: center;
        font-size: 12px;
        color: var(--backgroundLightBlue);
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .event-show-page-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        p, li{
            font-family: 'PT Sans Narrow', sans-serif;
            font-size: 20px;
            margin:4px 0px;
        }

        #date{
            font-size: 36px;
            font-weight: 600;
            margin-bottom: 16px;
        }
        

                .rsvp-button{
                    padding: 10px;
                    width: 80%;
                    border-radius: 36px;
                    font-weight: 600;
        
                    font-size: 24px;
                    border: none;
                    background: var(--backgroundLightBlue);
                    color: var(--backgroundBlue);
                    letter-spacing: 2px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    cursor:pointer;
                    margin-top: 10px;
                    margin-bottom: 10px;

                    &:hover {
                        scale: 1.05;
                        transition: 0.5s;
                    }
                }

                .rsvp-button:active{
                    background: var(--backgroundBlue); 
                    color: var(--lightGray)
                }

        .event-show-page-maps-container{
            .map{
                margin-top: 15px;
    
                div{
                    border-radius: 24px;
                }
            }
            #delete-event-button{
                padding: 10px;
                font-size: 15px;
                border-radius: 12px;
                margin-top: 10px;
                background-color: var(--backgroundLightBlue);
                letter-spacing: 1px;
                border: 1px solid black;
                cursor: pointer;

                &:hover{
                    background-color: var(--backgroundBlue);
                    color: var(--lightGray);
                    border: 2px solid white;
                }
            }
        }
    }

}

.event-show-page-maps-container{
    margin-top: 40px;
    width: auto;
   
    .map{
        
        .google-map{
            height: 300px;
        }
    }

}
