.discover-carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5em 0em;
    z-index: 5;
    
    .arrow{
        margin: 2em 2em;
        cursor: pointer;
        height: 2em;
        z-index: 5;
    }
    .movie-poster{
        cursor: pointer;
        transition: transform 250ms;
        img{
            height: 75vh;
            width: auto;
        }
    }
}

.movie-poster{
    cursor: pointer;
    transition: transform 250ms;

    .movie-poster:hover{
        transform: translateY(-10px);
        animation-duration: 1s;
    }
    img{
        height: 474px;
        width: 316px;
        min-width: 316px;
        min-height: auto;
        object-fit: contain;
    }
}

.movie-poster-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-width: 2em;
    z-index: 5;

    #movie-title{
        margin: 10px 0px;
        font-size: 1.5em;
        padding-top: 0px;

        h2{
            overflow-wrap: normal;
        }
    }

    .like-options{
        display: flex;
        justify-content: space-between;
        width: 90%;
        position: absolute;
        color: rgb(129, 129, 129);
        bottom: 4em;
        z-index: 10;

        .thumb-up, .thumb-down{
            height: 2.5em;
            opacity: 0.6;
            cursor: pointer;
        }

        .thumb-down{
            color: rgb(137, 30, 30)
        }

        .thumb-up{
            color: rgb(0, 137, 0)
        }

        .thumb-down:hover{
            opacity: 1;
            color: rgb(204, 35, 35);
        }
        .thumb-up:hover{
            opacity: 1;
            color: rgb(0, 167, 35);
        }

    }
}

.homepage-heading{
    display: flex;
    justify-content: center;
    margin: 1em 0em;
    font-size: 1.8em;
    text-transform: capitalize;
    z-index: 10;
    position: relative;
}

.background-gradient{
    height: 200px;
    position: absolute;
    background: linear-gradient(rgba(255,255,255,0) 0%, #111D47 70%);
    box-sizing: border-box;
    left:0;
    bottom: 0;
    right: 0;
    display: block;
    z-index: 2;
}

.recommendations{
    width: 99vw;
    z-index: 5;
    position: relative;
    background-image: linear-gradient(45deg, #161616, #111D47);

    h2{
        width: 100%;
        height: 100%;
        padding-top: 15px;
    }

    .recommendations-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));

        .recommendations-movie-poster{
            max-width: 19%;
            margin-bottom: 5px;
        }
    }
}

.background-image{
    position:absolute;
    width: 100%;
    height: 100vh;
    opacity: 0.2;
    z-index: 1;
    top: 0;
    left: 0;
}

.homepage-container{
    color: var(--backgroundLightBlue);
    background-blend-mode: color;
}

// @media(min-width: 0px){
//     .recommendations-container{
//         column-count: 2;
//         column-gap: 16px;
//         width: 624px;
//     }
// }

// @media(min-width: 0px){
//     .recommendations-container{
//         column-count: 3;
//         column-gap: 16px;
//         width: 624px;
//     }
// }