.user-show-page-container{
    height: 100vh;
    // padding-top: 80px;
    
    padding-left: 32px;
    padding-right: 32px;
    
    .user-show-page-user-details{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        min-height: 300px;
    }

    .user-show-page-username{
        font-size: 36px;
        color: var(--backgroundLightBlue);
    }
    .user-show-page-email {
        font-size: 16px;
        color: rgba(198, 212, 237, 0.5);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

.user-show-page-user-genres{
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        font-size: 24px;
        color: var(--backgroundLightBlue);
        margin-bottom: 16px;
    }
    .user-show-page-genres-container{
        display: flex;

        div{
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 4px;
            padding-bottom:4px;
            margin-left: 8px;
            margin-right: 8px;
            background-color: var(--backgroundLightBlue);
            border-radius: 16px;
        }
        

    }
}

.user-show-page-user-picture{
    cursor: pointer;
}
.user-show-page-user-picture:hover{
    opacity:0.5;
    content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.events-near{
    
    h3{
        margin-top: 24px;
        font-size: 24px;
        color: var(--backgroundLightBlue);
        margin-bottom: 16px;
    }

    .events-card-box{
        overflow-x: scroll;
    }
}

.user-show-page-user-movies{
    margin-top: 36px;
    margin-bottom: 36px;
    h2{
        margin-top: 24px;
        margin-left: 24px;
        font-size: 24px;
        color: var(--backgroundLightBlue);
        margin-bottom: 16px;
    }

    .liked-movies-box{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));

        .liked-movie-container{
            padding: 20px;
            width: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;

            h1{
                font-size: 24px;
                margin: 16px;
                color: var(--backgroundLightBlue);
            }
            img{
                width: 360px;
                height: auto;
                border-radius: 24px;
            }
        }
    }
}

