.modal-content{
    
}
.event-form-container{
    
    padding: 20px 10px 24px;
}

.event-form-heading{
    -webkit-font-smoothing: antialiased;
    color: #333;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -1.2px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
    word-break: keep-all;
}

.input-label{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:space-between;
    div{
        word-wrap: break-word;
        color: var(--textDefault);
        display: block;
        font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        font-weight: 400;
        margin-left: 8px;
        text-align: left;
        width: 30%;
    }
    

    input{
        width: 70%;
        margin-top: 8px;
        -webkit-font-smoothing: antialiased;
        -webkit-appearance: none;
        appearance: none;
        background-color: var(--backgrounGray);
        border-color: var(--grayContainer);
        border-radius: 16px;
        border-style: solid;
        border-width: 2px;
        box-sizing: border-box;
        color: var(--textDefault);
        font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        max-width: 100%;
        min-height: 48px;
        overflow: hidden;
        padding: 8px 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 600px;
    }
}

#input-description{
    height: 80px;
}