.team-container{
    color: var(--backgroundLightBlue);
    min-height: 70vh;
    width: 100vw;


    h1{
        text-align: center;
        font-size: 200px;
        margin-bottom: 20px;
    }

    .coders-container{
        display: flex;
        justify-content: space-around;
        text-align: center;
        font-size: 25px;


        .coder{
            .profile-pic{
                height: 300px;
                width: 300px;
                object-fit: cover;
                object-position: 0 0;
                border-radius: 8px;
            }

            *{
                margin-bottom: 9px;
            }

            .links{
                display: flex;
                justify-content: center;
                
                .footer-icon{
                    color: rgb(125, 125, 125);
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    opacity: 0.5;

                    &:hover{
                        opacity: 1;
                    }
                }

                #linked-in{
                    color: white;
                    background-color: #0a66c2;
                    padding: 4px;
                    border-radius: 100%;
                    width: 30px;
                    height: 30px;
                    margin-left: 30px;
                }
            }
        }
    }

    .copyright{
        text-align: center;
    }
}