body {
  overflow-x: hidden;
}

.logo{
  height: 5vh;
  width: 5vh;
  top: 5%;
  left: 95%;
}

.header-nav-container{
  padding-bottom: 80px
}

.nav-left{
  display: flex;
  align-items: center;
}
.back-button{
  margin-left: 24px;
  cursor: pointer;
  svg{
    width: 20px;
    height: 20px;
    color: #C6D4ED;
    &:hover{
      scale: 1.2;
      transition: 0.5s;
    }
  }
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin: 20px 0;
    position: fixed;
    width: 100%;
    margin-bottom: 20px;
    height: 60px;
    
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 50;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.hamburger{
  cursor: pointer;
}

.profile-dropdown > li {
  cursor: pointer;
}

.hamburger-side-menu{
  position: absolute;
  top: 5.5vh;
  height: 93.5vh;
  // height: 100vh;
  right: -300px;
  width: 250px;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  border: #C6D4ED solid 2px;
}

.profile-button{
  position: relative;
  // top: 2%;
  // right: -500px;
  // width: 350px;
  // height: 100%;
  // background-color: rgba(0, 0, 0, 0.5);
  // border-radius: 16px;
  // transition: .5s;
  z-index: 50;
  padding-right: 4vh;
}

.profile-button ul li{
  color: var(--backgroundLightBlue);
  text-align: right;
  text-transform: uppercase;
  list-style-type: none;
  font-size: 1.5em;
  padding: 20px 30px;
  // border-bottom: 1pt solid #252525;
}
#logout-button{
  color: #928ABA;
}


.hamburger{
  // display: block;
  // top: 5%;
  // left: 95%;
  width: 5vh;
  height: 5vh;
  // transform: translateY(-50%);
  border: 0;
  background-color: transparent;
  border-radius: 100%;
    &:hover{
      scale: 1.1;
      transition: 0.5s;
    }

}

.bar{
  position: relative;
  top: -3px;
  left: 6px;
  background: var(--backgroundLightBlue);
  width: 70%;
  height: 4px;
  transition: all .3s ease-in;
  // border: solid black;;
}

#bar2{
  top: 1px;
  // width: 2%;
}

#bar3{
  top: 5px;
  // width: 75%;

}

.hamburger-side-menu.active{
  right: 0px;
}

.hamburger.open #bar1{
  background-color: var(--backgroundLightBlue);
  transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open #bar2{
  background-color: transparent;
  border: transparent;
}

.hamburger.open #bar3{
  background-color: var(--backgroundLightBlue);
  transform: rotate(-45deg) translate(6px, -5px);
}

.nav-logo{
  position: relative;
  padding-left: 4vh;
}

.nav-search-bar-container {
  box-sizing: border-box;
  flex: 1 1 auto;
  min-height: 0;
  min-width: 407px;
  padding-left: 240px;
  padding-right: 286px;
}






// .profile-button {
//     position: relative;
//   }
  
// .profile-icon {
//   font-size: 1.5rem;
//   cursor: pointer;
//   color: white;
//   background: none;
//   border: none;
// }
  
// .profile-dropdown {
//   position: absolute;
//   border: 1px solid grey;
//   border-radius: 5px;
//   padding: 5px;
//   top: 100%;
//   right: 0;
//   display: flex;
//   flex-direction: column;
//   background: white;
//   z-index: 5;
// }

// .profile-dropdown li {
//   text-align: right;
//   margin: 5px;
// }